body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #111; /* Dark background color */
  color: #fff; /* Light text color */
}

#metalPlateDisplay {
  font-size: 24px;
  margin-bottom: 10px;
}

#button, .upgrade {
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  background-color: #333; /* Dark button background color */
  color: #fff; /* Light button text color */
  border: none;
  border-radius: 5px;
  margin: 5px;
}

#button:hover, .upgrade:hover {
  background-color: #555; /* Dark hover background color */
}

#upgrades {
  margin-top: 20px;
}
