body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #222;
    color: #fff;
}

#container {
    border: 2px solid #333;
    padding: 20px;
    border-radius: 10px;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
}