body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #262626; /* Mørk bakgrunnsfarge */
  color: #fff; /* Hvit tekstfarge */
}

#counterButton {
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  background-color: #444; /* Mørk knappfarge */
  color: #fff; /* Hvit tekstfarge */
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#counterButton:hover {
  background-color: #555; /* Mørkere knappfarge ved hover */
}
